.investigation-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.investigation-screen .overlap-wrapper {
  background-color: #ffffff;
  border: 1px none;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.investigation-screen .overlap {
  background-color: #f4f6f9;
  height: 1070px;
  left: -44px;
  position: relative;
  top: -21px;
  width: 1512px;
}

.investigation-screen .overlap-group {
  height: 1024px;
  left: 44px;
  position: absolute;
  top: 21px;
  width: 1448px;
}

.investigation-screen .toppane {
  height: 53px;
  left: 242px;
  position: absolute;
  top: 0;
  width: 1206px;
}

.investigation-screen .navbar {
  background-color: #007bff;
  height: 53px;
  position: relative;
  width: 1198px;
}

.investigation-screen .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.investigation-screen .div {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 213px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 338px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  left: 1002px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.investigation-screen .icon-menu-dots {
  height: 20px;
  left: 1105px;
  position: absolute;
  top: 16px;
  width: 21px;
}

.investigation-screen .icon-menu {
  height: 13px;
  left: 18px;
  position: absolute;
  top: 18px;
  width: 21px;
}

.investigation-screen .icon-home {
  height: 18px;
  left: 77px;
  position: absolute;
  top: 18px;
  width: 24px;
}

.investigation-screen .icon-call-phone {
  height: 20px;
  left: 190px;
  position: absolute;
  top: 17px;
  width: 18px;
}

.investigation-screen .icon-settings {
  height: 21px;
  left: 312px;
  position: absolute;
  top: 16px;
  width: 21px;
}

.investigation-screen .icon-creditcard {
  height: 20px;
  left: 1157px;
  position: absolute;
  top: 17px;
  width: 25px;
}

.investigation-screen .sidepane {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 243px;
}

.investigation-screen .overlap-2 {
  height: 1024px;
  position: relative;
}

.investigation-screen .rectangle {
  background-color: #2f2f37;
  border: 1px solid;
  border-color: #000000;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 241px;
}

.investigation-screen .company-logo {
  height: 69px;
  left: 0;
  position: absolute;
  top: 0;
  width: 243px;
}

.investigation-screen .h-1-wrapper {
  background-image: url(https://generation-sessions.s3.amazonaws.com/89ad6e4fd8736f7e4274708d94f4bc20/img/rectangle-2.png);
  background-size: 100% 100%;
  height: 70px;
  position: relative;
  width: 245px;
}

.investigation-screen .h-1 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 215px;
}

.investigation-screen .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
  width: 178px;
}

.investigation-screen .workforce-pane {
  height: 19px;
  left: 17px;
  position: absolute;
  top: 322px;
  width: 208px;
}

.investigation-screen .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.investigation-screen .user-multiple-group {
  height: 21px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 21px;
}

.investigation-screen .arrow-bend-right {
  height: 18px;
  left: 192px;
  position: absolute;
  top: -1px;
  width: 15px;
}

.investigation-screen .main-topbar {
  height: 35px;
  left: 241px;
  position: absolute;
  top: 53px;
  width: 1201px;
}

.investigation-screen .overlap-3 {
  background-color: #ffffff;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 35px;
  position: relative;
  width: 1199px;
}

.investigation-screen .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.investigation-screen .icon-eye {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 10px;
  width: 24px;
}

.investigation-screen .workflow-pane {
  height: 182px;
  left: 12px;
  position: absolute;
  top: 122px;
  width: 228px;
}

.investigation-screen .overlap-4 {
  background-color: #ffffff;
  border-radius: 4px;
  height: 29px;
  left: 14px;
  position: absolute;
  top: 119px;
  width: 204px;
}

.investigation-screen .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.investigation-screen .img {
  height: 18px;
  left: 16px;
  position: absolute;
  top: 6px;
  width: 24px;
}

.investigation-screen .overlap-5 {
  background-color: #007bff66;
  border-radius: 4px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 218px;
}

.investigation-screen .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.investigation-screen .icon-share {
  height: 23px;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 19px;
}

.investigation-screen .arrow-bend-right-2 {
  height: 18px;
  left: 197px;
  position: absolute;
  top: 9px;
  width: 15px;
}

.investigation-screen .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 165px;
}

.investigation-screen .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.investigation-screen .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 52px;
}

.investigation-screen .icon-eye-2 {
  height: 18px;
  left: 31px;
  position: absolute;
  top: 164px;
  width: 24px;
}

.investigation-screen .icon-eye-3 {
  height: 18px;
  left: 30px;
  position: absolute;
  top: 50px;
  width: 24px;
}

.investigation-screen .icon-eye-4 {
  height: 18px;
  left: 30px;
  position: absolute;
  top: 86px;
  width: 24px;
}

.investigation-screen .overlap-6 {
  height: 461px;
  left: 298px;
  position: absolute;
  top: 314px;
  width: 1212px;
}

.investigation-screen .main-screen {
  height: 461px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1212px;
}

.investigation-screen .overlap-7 {
  background-color: #fbfbfb;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 4px;
  height: 462px;
  position: relative;
  width: 1175px;
}

.investigation-screen .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 206px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-12 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 406px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 206px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-13 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 282px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 117px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-14 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 461px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 206px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-15 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 444px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 117px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-16 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 570px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 206px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-17 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-18 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-19 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 302px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-20 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 441px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-21 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-22 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 157px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-23 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 372px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-24 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
}

.investigation-screen .warning-triangle {
  height: 18px;
  left: 6px;
  position: absolute;
  top: 40px;
  width: 19px;
}

.investigation-screen .line {
  height: 6px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 1154px;
}

.investigation-screen .line-2 {
  height: 6px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 142px;
  width: 1154px;
}

.investigation-screen .line-3 {
  height: 1px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 362px;
  width: 1154px;
}

.investigation-screen .arrow-button-right {
  background-image: url(https://generation-sessions.s3.amazonaws.com/89ad6e4fd8736f7e4274708d94f4bc20/img/arrow-button-right@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 1110px;
  position: absolute;
  top: 426px;
  width: 24px;
}

.investigation-screen .arrow-circle-down {
  background-image: url(https://generation-sessions.s3.amazonaws.com/89ad6e4fd8736f7e4274708d94f4bc20/img/arrow-circle-down@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 1137px;
  position: absolute;
  top: 426px;
  width: 24px;
}

.investigation-screen .arrow-button-left {
  background-image: url(https://generation-sessions.s3.amazonaws.com/89ad6e4fd8736f7e4274708d94f4bc20/img/arrow-button-left@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 1080px;
  position: absolute;
  top: 426px;
  width: 24px;
}

.investigation-screen .text-wrapper-25 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 117px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-26 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 206px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-27 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 288px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 206px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-28 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 117px;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-29 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
}

.investigation-screen .charges-box {
  height: 113px;
  left: 17px;
  position: absolute;
  top: 237px;
  width: 1132px;
}

.investigation-screen .overlap-8 {
  height: 113px;
  position: relative;
  width: 1174px;
}

.investigation-screen .overlap-group-wrapper {
  height: 113px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1174px;
}

.investigation-screen .overlap-group-2 {
  height: 113px;
  position: relative;
  width: 1132px;
}

.investigation-screen .rectangle-2 {
  height: 112px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1132px;
}

.investigation-screen .text-wrapper-30 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 512px;
}

.investigation-screen .rectangle-3 {
  background-color: #d9d9d9;
  border-bottom-style: solid;
  border-bottom-width: 0.3px;
  border-color: #000000;
  height: 31px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1131px;
}

.investigation-screen .line-4 {
  height: 110px;
  left: 512px;
  position: absolute;
  top: 3px;
  width: 1px;
}

.investigation-screen .line-5 {
  height: 110px;
  left: 772px;
  position: absolute;
  top: 0;
  width: 1px;
}

.investigation-screen .line-6 {
  height: 110px;
  left: 646px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.investigation-screen .line-7 {
  height: 110px;
  left: 898px;
  position: absolute;
  top: 0;
  width: 1px;
}

.investigation-screen .line-8 {
  height: 110px;
  left: 1021px;
  position: absolute;
  top: 0;
  width: 1px;
}

.investigation-screen .line-9 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 1131px;
}

.investigation-screen .line-10 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 1131px;
}

.investigation-screen .text-wrapper-31 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 512px;
}

.investigation-screen .text-wrapper-32 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 126px;
}

.investigation-screen .text-wrapper-33 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 123px;
}

.investigation-screen .text-wrapper-34 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 111px;
}

.investigation-screen .text-wrapper-35 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  left: 646px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 126px;
}

.investigation-screen .text-wrapper-36 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 134px;
}

.investigation-screen .text-wrapper-37 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 85px;
  width: 512px;
}

.investigation-screen .text-wrapper-38 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 27px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 512px;
}

.investigation-screen .text-wrapper-39 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 134px;
}

.investigation-screen .text-wrapper-40 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  left: 646px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 126px;
}

.investigation-screen .text-wrapper-41 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 134px;
}

.investigation-screen .text-wrapper-42 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 85px;
  width: 134px;
}

.investigation-screen .text-wrapper-43 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 123px;
}

.investigation-screen .text-wrapper-44 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 27px;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 123px;
}

.investigation-screen .text-wrapper-45 {
  color: #a03434;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 27px;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 126px;
}

.investigation-screen .text-wrapper-46 {
  color: #b79003;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 126px;
}

.investigation-screen .text-wrapper-47 {
  color: #3a9c0d;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 126px;
}

.investigation-screen .text-wrapper-48 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 85px;
  width: 123px;
}

.investigation-screen .text-wrapper-49 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  left: 646px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 126px;
}

.investigation-screen .text-wrapper-50 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  left: 646px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 85px;
  width: 126px;
}

.investigation-screen .frame {
  align-items: flex-start;
  background-color: #cacaca;
  border-radius: 2px;
  display: inline-flex;
  gap: 10px;
  height: 20px;
  left: 1044px;
  padding: 3.5px 13px;
  position: absolute;
  top: 35px;
}

.investigation-screen .text-wrapper-51 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.investigation-screen .div-wrapper {
  align-items: flex-start;
  background-color: #cacaca;
  border-radius: 2px;
  display: inline-flex;
  gap: 10px;
  height: 20px;
  left: 1044px;
  padding: 3.5px 13px;
  position: absolute;
  top: 61px;
}

.investigation-screen .frame-2 {
  align-items: flex-start;
  background-color: #cacaca;
  border-radius: 2px;
  display: inline-flex;
  gap: 10px;
  height: 20px;
  left: 1044px;
  padding: 3.5px 13px;
  position: absolute;
  top: 88px;
}

.investigation-screen .steps-bar {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1182px;
}

.investigation-screen .navbar-2 {
  height: 32px;
  position: relative;
  width: 1174px;
}

.investigation-screen .rectangle-4 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1174px;
}

.investigation-screen .rectangle-5 {
  height: 32px;
  left: 479px;
  position: absolute;
  top: 0;
  width: 182px;
}

.investigation-screen .rectangle-6 {
  height: 32px;
  left: 321px;
  position: absolute;
  top: 0;
  width: 182px;
}

.investigation-screen .rectangle-7 {
  height: 32px;
  left: 159px;
  position: absolute;
  top: 0;
  width: 182px;
}

.investigation-screen .rectangle-8 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 182px;
}

.investigation-screen .text-wrapper-52 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 152px;
}

.investigation-screen .text-wrapper-53 {
  color: #b1b1b1;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 206px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 152px;
}

.investigation-screen .text-wrapper-54 {
  color: #b1b1b1;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 152px;
}

.investigation-screen .text-wrapper-55 {
  color: #b1b1b1;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 522px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 152px;
}

.investigation-screen .navbar-3 {
  height: 12px;
  left: 20px;
  position: absolute;
  top: 193px;
  width: 579px;
}

.investigation-screen .text-wrapper-56 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 288px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-57 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-58 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 382px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-59 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 461px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-60 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 547px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.investigation-screen .text-wrapper-61 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.investigation-screen .vector {
  height: 8px;
  left: 613px;
  position: absolute;
  top: 200px;
  width: 7px;
}

.investigation-screen .vector-2 {
  height: 8px;
  left: 613px;
  position: absolute;
  top: 209px;
  width: 7px;
}

.investigation-screen .before-you-proceed {
  height: 167px;
  left: 294px;
  position: absolute;
  top: 124px;
  width: 1184px;
}

.investigation-screen .overlap-9 {
  background-color: #ffffff;
  border-radius: 9px;
  height: 167px;
  position: relative;
  width: 1174px;
}

.investigation-screen .rectangle-9 {
  background-color: #107383;
  border-radius: 4px 0px 0px 4px;
  height: 167px;
  left: 0;
  position: absolute;
  top: 0;
  width: 11px;
}

.investigation-screen .text-wrapper-62 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 328px;
}

.investigation-screen .text-wrapper-63 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 421px;
}

.investigation-screen .text-wrapper-64 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 73px;
  width: 1032px;
}

.investigation-screen .text-wrapper-65 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 115px;
  width: 1071px;
}

.investigation-screen .check-square {
  background-image: url(https://generation-sessions.s3.amazonaws.com/89ad6e4fd8736f7e4274708d94f4bc20/img/check-square@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 20px;
  position: absolute;
  top: 111px;
  width: 24px;
}

.investigation-screen .text-wrapper-66 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 142px;
  width: 919px;
}
